html,body {
	padding: 0;
	margin: 0;
}

html {
	overflow: auto;
	height: 100%;
}

body {
	background: #f5f5f5;
	font-family: 'Segoe UI','Segoe UI Web Regular','Segoe UI Symbol','Helvetica Neue','BBAlpha Sans','S60 Sans',Arial,sans-serif;
	font-size: 11px;
	height: 100%;
	padding: 0;
	margin: 0;
}

body h1,body h2,body h3,body h4,body h5,body h6,body p,body blockquote,body pre,body a,body address,body cite,body code,body em,body img,body s,body small,body strike,body strong,body sub,body tt,body li,body ol,body ul,body fieldset,body form,body label,body legend,body button,body table,body caption,body tbody,body tfoot,body thead,body tr,body th,body td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	padding: 0;
	margin: 0;
}

body .clear:before,body .clear:after {
	content: "";
	display: table;
}

body .clear:after {
	clear: both;
}

body a {
	color: #0069D6;
	font-weight: inherit;
	line-height: inherit;
	text-decoration: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

body a:hover {
	color: #00438A;
	text-decoration: underline;
}

body button,body input,body select,body textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	vertical-align: middle;
}

body button,body input {
	line-height: normal;
	overflow: visible;
}

body .btn.danger,body .alert-message.danger,body .btn.danger:hover,body .alert-message.danger:hover,body .btn.error,body .alert-message.error,body .btn.error:hover,body .alert-message.error:hover,body .btn.success,body .alert-message.success,body .btn.success:hover,body .alert-message.success:hover,body .btn.info,body .alert-message.info,body .btn.info:hover,body .alert-message.info:hover {
	color: #fff;
}

body .btn.danger,body .alert-message.danger,body .btn.error,body .alert-message.error {
	background-color: #c43c35;
	background-image: -moz-linear-gradient(top,#ee5f5b,#c43c35);
	background-image: -ms-linear-gradient(top,#ee5f5b,#c43c35);
	background-image: -o-linear-gradient(top,#ee5f5b,#c43c35);
	background-image: -webkit-linear-gradient(top,#ee5f5b,#c43c35);
	background-repeat: repeat-x;
	border-color: #C43C35 #C43C35 #882A25;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	font-weight: 700;
}

body .btn.success,body .alert-message.success {
	background-color: #57a957;
	background-image: -moz-linear-gradient(top,#62c462,#57a957);
	background-image: -ms-linear-gradient(top,#62c462,#57a957);
	background-image: -o-linear-gradient(top,#62c462,#57a957);
	background-image: -webkit-linear-gradient(top,#62c462,#57a957);
	background-repeat: repeat-x;
	border-color: #57A957 #57A957 #3D773D;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	font-weight: 700;
}

body .btn.info,body .alert-message.info {
	background-color: #339bb9;
	background-image: -moz-linear-gradient(top,#5bc0de,#339bb9);
	background-image: -ms-linear-gradient(top,#5bc0de,#339bb9);
	background-image: -o-linear-gradient(top,#5bc0de,#339bb9);
	background-image: -webkit-linear-gradient(top,#5bc0de,#339bb9);
	background-repeat: repeat-x;
	border-color: #339BB9 #339BB9 #22697D;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	font-weight: 700;
}

body .btn {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	-webkit-transition: .1s linear all;
	-moz-transition: .1s linear all;
	-ms-transition: .1s linear all;
	-o-transition: .1s linear all;
	transition: .1s linear all;
	background-color: #e6e6e6;
	background-image: -moz-linear-gradient(#fff,#fff 25%,#e6e6e6);
	background-image: -ms-linear-gradient(#fff,#fff 25%,#e6e6e6);
	background-image: -o-linear-gradient(#fff,#fff 25%,#e6e6e6);
	background-image: -webkit-linear-gradient(#fff,#fff 25%,#e6e6e6);
	background-repeat: repeat-x;
	background-repeat: no-repeat;
	color: #333;
	border: 1px solid #CCC;
	border-bottom: 1px solid #BBB;
	text-shadow: 0 1px 1px rgba(255,255,255,.75);
	font-weight: 700;
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
	padding: 5px 14px 6px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

body .btn:hover {
	background-position: 0 -15px;
	color: #333;
	text-decoration: none;
}

body .btn:focus {
	outline: 1px dotted #666;
}

body .btn.primary {
	background-color: #0064cd;
	background-image: -moz-linear-gradient(top,#049cdb,#0064cd);
	background-image: -ms-linear-gradient(top,#049cdb,#0064cd);
	background-image: -o-linear-gradient(top,#049cdb,#0064cd);
	background-image: -webkit-linear-gradient(top,#049cdb,#0064cd);
	background-repeat: repeat-x;
	border-color: #0064CD #0064CD #003F81;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	font-weight: 700;
}

body .btn.active,body .btn:active {
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.25),0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.25),0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,.25),0 1px 2px rgba(0,0,0,.05);
}

body .btn.disabled,body .btn[disabled] {
	background-image: none;
	cursor: default;
	opacity: .65;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

body .btn.large {
	font-weight: 400;
	font-size: 15px;
	line-height: normal;
	padding: 9px 14px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

body .btn.small {
	font-size: 11px;
	padding: 7px 9px;
}

.topbar {
	display: inline-block;
	width: 100%;
	z-index: 6000;
	font-size: 13px;
	background: #f3f3f3;
	display: -webkit-flex;
	display: flex;
	padding: 0;
	margin: 0;
}

.topbar.main .inner {
	margin-top: 0;
	top: 39px;
}

.topbar .inner {
	z-index: 6010;
	top: 32px;
	height: 3px;
	margin-top: 5px;
	background-color: rgba(163,173,36,1);
	background: -webkit-linear-gradient(left, rgba(163,173,36,1) 0%,rgba(163,173,36,1) 20%,rgba(69,148,204,1) 20%,rgba(69,148,204,1) 40%,rgba(196,38,46,1) 40%,rgba(196,38,46,1) 60%,rgba(217,112,156,1) 60%,rgba(217,112,156,1) 80%,rgba(255,161,0,1) 80%) 0 0 no-repeat;
	background: -moz-linear-gradient(left, rgba(163,173,36,1) 0%,rgba(163,173,36,1) 20%,rgba(69,148,204,1) 20%,rgba(69,148,204,1) 40%,rgba(196,38,46,1) 40%,rgba(196,38,46,1) 60%,rgba(217,112,156,1) 60%,rgba(217,112,156,1) 80%,rgba(255,161,0,1) 80%) 0 0 no-repeat;
	background: -ms-linear-gradient(left, rgba(163,173,36,1) 0%,rgba(163,173,36,1) 20%,rgba(69,148,204,1) 20%,rgba(69,148,204,1) 40%,rgba(196,38,46,1) 40%,rgba(196,38,46,1) 60%,rgba(217,112,156,1) 60%,rgba(217,112,156,1) 80%,rgba(255,161,0,1) 80%) 0 0 no-repeat;
	background: -o-linear-gradient(left, rgba(163,173,36,1) 0%,rgba(163,173,36,1) 20%,rgba(69,148,204,1) 20%,rgba(69,148,204,1) 40%,rgba(196,38,46,1) 40%,rgba(196,38,46,1) 60%,rgba(217,112,156,1) 60%,rgba(217,112,156,1) 80%,rgba(255,161,0,1) 80%) 0 0 no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.2);
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.topbar #main-menu {
	width: 950px;
	margin: 0 auto;
	list-style-type: none;
}

.topbar #main-menu li.logo {
	float: left;
}

.topbar #main-menu li.logo a {
	color: #000;
}

.topbar #main-menu li {
	display: inline-block;
	float: right;
}

.topbar #main-menu li a {
	display: block;
	padding: 12px 14px 14px;
	font-weight: 700;
	color: #1e7d94;
}

.topbar #main-menu li a:hover {
	text-decoration: none;
}

.topbar #main-menu li:not(.logo) a:hover {
	background: #d3d3d3;
}

#banner {
	background: #2E323B;
	z-index: 2000;
}

#banner #banner-inner {
	width: 950px;
	margin: 0 auto;
}

#banner .banner-left {
	float: left;
	padding: 0 0 0 14px;
}

#banner .banner-left h1,#banner .banner-left h2,#banner .banner-left h3 {
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

#banner .banner-left h1 {
	font-size: 54px;
	font-weight: 500;
	margin: 35px 0 20px 30px;
	display: inline-block;
}

#banner .banner-left h2 {
	font-size: 34px;
	font-weight: 500;
	margin: 30px 0 35px 30px;
}

#banner .banner-left h3 {
	font-size: 20px;
	font-weight: 600;
	margin: 0 30px;
}

#banner .banner-left h3.inline {
	display: inline-block;
}

#banner .banner-left a.btn {
	display: block;
	width: 203px;
	margin: 30px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
}

#banner .banner-right {
	float: right;
	width: 320px;
	padding: 20px 24px 30px 0;
}

#main {
	border-top: 1px solid #eee;
	background: #fff;
}

#main #main-inner {
	width: 922px;
	margin: 0 auto;
	padding: 20px 14px 30px;
}

#main-inner .modal-header, #main-inner .modal-header-top {
	border-bottom: 1px solid #eee;
	padding: 0 5px 15px 5px;
	margin-bottom: 25px;
}

#main-inner .modal-header-top {
	border-bottom: 0;
	border-top: 1px solid #eee;
	padding: 20px 5px 0 5px;
	margin-top: 20px;
	text-align: center;
}

#main-inner .modal-header h3 {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

#main-inner .modal-header h2.dimmed, #main-inner .modal-header-top h2.dimmed { color: #808080; }

#main-inner .modal-header h2, #main-inner .modal-header-top h2 {
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
}

#main-inner .modal-header h3, #main-inner .modal-header-top h3 {
	display: inline-block;
	padding: 0 0 0 20px;
	font-size: 15px;
	font-weight: bold;
	color: #808080;
}

#main-inner .row.feature-tour .span2 {
	width: 48%;
	float: left;
	padding-left: 15px;
	margin-bottom: 15px;
}

#main-inner .row.feature-tour .span3 {
	width: 31.5%;
	float: left;
	padding-left: 10px;
	margin-bottom: 15px;
}

#main-inner .row.feature-tour h3 {
	color: #4281CA;
	font-size: 20px;
	margin: 13px 0;
	padding: 0;
	font-weight: bold;
	line-height: 1.1;
}

#main-inner .row.feature-tour p {
	margin: 0 0 10px;
	color: #5a5a5a;
	line-height: 1.5;
	font-size: 16px;
}

#main-inner .row.feature-tour p a { color: #4281CA; }
#main-inner .row.feature-tour p a:hover { text-decoration: underline; }

#main-inner .row.signup {
	border-bottom: 0;
	border-top: 1px solid #eee;
	padding: 20px 5px 0 5px;
	margin-top: 20px;
	text-align: center;
}

#main-inner .row.signup h3 {
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
	margin: 0 0 0 20px;
	color: #000;
}

#main-inner .row.signup .btn {
	display: inline-block;
	margin-left: 20px;
}

#main-inner .modal-body p.large {
	font-size: 14px!important;
	line-height: 1.5!important;
	margin-bottom: 25px!important;
}

#main-footer {
	position: relative;
	padding: 40px 0;
	color: gray;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	background: #f5f5f5;
	border-top: 1px solid #E5E5E5;
}

#main-footer p {
	font-size: 16px;
}

#main-footer p:not(:last-child) {
	margin: 0 0 10px;
	line-height: 1.5;
}

#main-footer a {
	font-weight: 700;
	color: gray;
	padding: 0 3px;
}

#main-footer a:hover {
	text-decoration: underline;
}

.carousel {
	position: relative;
	overflow: auto;
}

.carousel li {
	list-style: none;
	float: left;
}

.carousel li item.img {
	display: block;
	width: 100%;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
}